<app-menu></app-menu>
<div class="grid1">
  <div class="grid1-top"> <!-- DIV CONTENENTE IL NOME DELLA LISTA-->

    <p class="list-name"> {{lista.nome}} </p>
  </div>
  <div class="grid1-bottom">
    <div class="bottom-left">
      <p>PRODOTTI: </p>
    </div>
    <div class="bottom-right">
      <ol>
        <p class="prodotto-nome" *ngFor="let prodotto of lista.prodotti">
          <span class="prodotto-id">{{prodotto.id}}</span>
          {{prodotto.nome}}</p>
      </ol>
    </div>

  </div>


</div>
