* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

nav {
    background: white;
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: flex-start;
    color: black;
    margin: 8px;
   padding-bottom: 2px;
}

nav #ul-nav {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul li a {
    font-family: "Arial";
    font-weight: 100;
    font-size: 18px;
    list-style: none;
    text-decoration: none;
    text-decoration-style: none;
    padding-right: 25px;
    color: black;
}

nav ul li {
    font-family: "Arial";
    font-weight: 100;
    font-size: 18px;
    list-style: none;
    text-decoration: none;
    text-decoration-style: none;
    padding-right: 25px;
}

.login {
    background-color: rgb(85, 175, 223);
    text-align: center;
    padding-left: 10px;
    padding: 5px 15px;
    border-radius: 50px;
    color: white;
}

.container {
    background-image: url(BG_home.jpg);
    background-size: 100%;
    background-position: bottom;
    height: 70vh;
    background-repeat: no-repeat;
}

.banner {
    position: absolute;
    bottom: 0;
    background-color: rgb(85, 175, 223);
    height: 23vh;
    width: 100%;
    margin-bottom: 0;

}

.title {
    text-transform: uppercase;
    color: whitesmoke;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10%;
    padding-top: 5%;
    padding-bottom: 2%;
    font-size: 36px;
}
.sipleText{
    text-transform: capitalize;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
}

.subtitle {
    text-transform: capitalize;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10%;
}

.banner-text {
    padding-top: 1%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10%;

}

.banner-img {
    margin-left: 10%;
}

.margin-img {
   /* padding-top: 2%;*/
    margin-right: 2%;
}

.phone {
    position: relative;
    right: 20%;
    z-index: 30;
}

.container2 {
    margin-top: -4px;
    padding-top: 19vh;
    background-color: white;
    width: 100%;
    height: 100vh;
}

.arrows {
    position: relative;
    margin: auto;
    margin-top: 6px;
    top: 0;
    left: 0;
    right: 0;
    display: table-cell;
}

.black {
    color: black !important;
}
p.overwrite-position {
    text-align: center;
}
.center {
    text-align: center;
}

.grid {
    margin: 20px auto;
    width: 600px;
    height: 90vh;
    background-color: #fff;
    display: grid;
    grid-template-columns: 300px auto;
    grid-row: 20px auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.box-hr {
    font-weight: bold;
    margin: 5% 0%;
}

.box {
    height: 1vh !important;
}

.container3 {

    margin-top: -2px;
    margin-top: 20vh;
    background-color: rgb(85, 175, 223);
    width: 100%;
    height: 79vh;
}

.input {
    margin: auto;
    margin-top: 3em;
    width: 50%;
}

.inputs {
    font-size: 16px;
    width: 100%;
    padding: 10px;
    border: none;
}
textarea{
    resize: none;
}
.button {
    background-color: rgb(79, 92, 122);
    color: white;
    font-size: 19px;
}

.grid-4x1 {
    background-color: black;
    padding: 20px;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 300px auto auto auto;
    grid-row: 20px;
    grid-column-gap: 9em;
    grid-row-gap: 20px;
}

footer {
    background-color: black;
    width: 100%;
    height: 21vh;
    bottom: 0;
    display: block;
    margin-top: 0px;
}

.footer-ul {
    font-size: 18px;
    list-style: none;
    padding-bottom: 2em;
}
.margin-right{
    /*margin-top: .7em;*/
    margin-right: 1em;
}
.footer-text {
    text-transform: capitalize;
    font-family: "Arial";
    font-weight: 100;
    font-size: 18px;
    list-style: none;
    text-decoration: none;
    text-decoration-style: none;
    padding-right: 25px;
    color: white;
}

.footer-social-text {
    text-transform: uppercase;
    color: white;
    font-family: "Arial";
    font-weight: 100;
}

.footer-endText {
    color: white;
    width: 50%;
    margin-left: 30%;
    margin-top: 60px;
    bottom: 0;
    text-align: center;
}
.backToTop {
    position: absolute;
    margin: auto;
    margin-top: -30px;
    right: 10px;
    display: table-cell;
    cursor: pointer;
}
.uk-input{
    color: rgb(85, 175, 223)!important;
}
.button-modal{
    width: 100%;
    background-color: rgb(85, 175, 223)!important;
}
.modal-linkText{
    font-weight: bold;
    color: rgb(85, 175, 223);
    font-size: 18px!important;
    list-style: none!important;
    text-decoration: none!important;
    text-decoration-style: none!important;
}
.modal-linkText :hover{
    color: rgb(85, 175, 223);
}
.flex{
    display: flex;
}

.little-banner{
    width: 100%;
    height: 6vh;
    background-color: rgb(250,250,250);
}
.little-banner p{
    color: rgb(79, 92, 122);
}
.uk-position-center p,h3,h4{
    color: rgb(79, 92, 122);
    text-align: center;
    margin-top: 0;
}
.uk-position-center{
    width: 100%;
}
.uk-flex{
    width: 100%!important;
}
.uk-flex :nth-child(1){
    margin-left: 38%;

}
.home-liste{
    margin-left: 17em;
}
.pointing-arrow{
    margin-top: 20px;
    margin-right: 4em;

}
.to-right{
    float: right;
    bottom: 20em;
    margin-right: 18em;
}
.uk-position-bottom-center{
    width: 100%;
}
.hide{
    display: none;
}
textarea{
    resize: none;
}
.add-tag{
    float: left;
    margin-right: 90%;
}
.flex-tag{
    display: flex;
    flex-direction: row;
}
.flex-tag{
    text-decoration: none;
    text-decoration-style: none;
    list-style-type: none;
}
.flex-tag :nth-child(1){
    margin-left: 0;
    margin-right: auto;
}
.hasPointer {
    cursor: copy;
}
.tag{

        background-color: rgb(255,189,76);
        text-align: center;
        padding-left: 10px;
        padding: 5px 15px;
        border-radius: 50px;
        color: white!important;
        text-decoration-style: none!important;
        text-decoration: none!important;
        margin-bottom: 2em!important;
}
.tag :hover{
    text-decoration: none!important;
    text-transform: uppercase!important;
    text-decoration-style: none!important;
    color: white!important;
}
.scrollable{
    overflow-y: scroll!important;
}

.not-resizable{
    resize: none;
}
.fullheight{
    height: 65vh;
}

.uk-overlay{
    background-color: black!important;
}
.flexy-box{
    display: flex;
    flex-direction: row;
}
.flexy-box :nth-child(1){
    margin-right: auto;
    flex: 1;
}
.flexy-box :nth-child(2){
    margin-right: auto;
    flex: 1;

}
.uk-h4{
    color: white!important;
}
.spinner{
    margin-left: 50%;
    margin-right: 50%;
}
.fas:hover{
    cursor: pointer;
}
.footerBtnAddList{
    position: absolute;
    bottom: 16vh;
    right: 1em;
}
.uk-panel-scrollable{
    border: none!important;
}

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
  }
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: ">";
  }
  ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
  }
  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }
.extend-modal{
    height: 20vh;
}


.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:orange;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:22px;
}

