<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap" rel="stylesheet">

<app-menu></app-menu>

<div id="wrapper">
<ng-container *ngIf="modifica==false" >
  <div *ngFor="let listItem of lista">
    <div class="grid1">
      <div class="grid1-top" *ngIf="listItem.username==utente"> <!-- DIV CONTENENTE IL NOME DELLA LISTA-->

        <p class="list-name"> {{listItem.nome}} </p>

      </div>
      <div class="grid1-bottom" *ngIf="listItem.username==utente"> <!-- DIV CONTENENTE I PULSANTI -->

        <button class="buttons" (click)="apriD(listItem.nome)"> DETTAGLIO </button>
        <button class="buttons" (click)="riempiForm(listItem.nome)"> MODIFICA </button>
        <button class="buttons" id="button-elimina" (click)="eliminaLista(listItem.nome)"> ELIMINA </button>

      </div>
      <ng-container *ngIf="condivisione(listItem.condivisioni)">
        <h2>LISTE DEGLI AMICI</h2>
        {{listItem.nome}}
      </ng-container>
    </div>
  </div>
</ng-container>


  <form *ngIf="modifica" (ngSubmit)="onSubmit(newSpesa.value)" [formGroup]="newSpesa">
    <div class="grid2">
      <div class="grid2-top">
        <label class="top-text" for="nome"> Inserisci il nome della lista </label>
        <input id="nome"  required formControlName="nome">
      </div>

      <ng-container formArrayName="prodotti">
        <div class="grid2-center" *ngFor="let prodotto of prodotti.controls;index as i">
          <ng-container [formGroupName]="i">
              <label class="bottom-text"> ID: </label> <input formControlName="id" />
              <label class="bottom-text"> NOME: </label> <input formControlName="nome" />
          </ng-container>
        </div>
      </ng-container>

      <div class="grid2-bottom">
        <button class="buttons" id="button-conferma" type="submit"> CONFERMA </button>
      </div>
    </div>
  </form>

</div>

<app-footer></app-footer>

