<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap" rel="stylesheet">

<app-menu></app-menu>

<div id="wrapper">

  <div  *ngFor="let listItem of lista">
    <div class="grid1">
      <div class="grid1-top" *ngIf="listItem.username==utente"> <!-- DIV CONTENENTE IL NOME DELLA LISTA-->

        <p class="list-name"> {{listItem.nome}} </p>

      </div>
      <div class="grid1-bottom" *ngIf="listItem.username==utente"> <!-- DIV CONTENENTE I PULSANTI -->

        <button class="button-top" (click)="apriD(listItem.nome)"> DETTAGLIO </button>
        <button class="button-top" (click)="riempiForm(listItem.nome)"> MODIFICA </button>
        <button class="button-top" (click)="eliminaLista(listItem.nome)"> ELIMINA </button>

      </div>
    </div>
  </div>

  <form *ngIf="modifica" (ngSubmit)="onSubmit(newSpesa.value)" [formGroup]="newSpesa">
    <div class="grid2">
      <div class="grid2-top">
        <label for="nome"> Inserisci il nome della lista </label>
        <input type="text"  id="nome"  required formControlName="nome">
      </div>

      <ng-container formArrayName="prodotti">
        <div class="grid2-center" *ngFor="let prodotto of prodotti.controls;index as i">
          <div class="details">
            <ng-container [formGroupName]="i">
                ID: <input value="prova" formControlName="id" />
                NOME: <input formControlName="nome" />
            </ng-container>
          </div>
        </div>
      </ng-container>

      <div class="grid2-bottom">
        <button type="submit"> CONFERMA </button>
      </div>
    </div>
  </form>

</div>

<app-footer></app-footer>

