<div class="body">
    <div id="left"></div>
    <div id="#top">
      <a>benvenuto {{utente}}</a>
    </div>
    <div id="sx-top">
      <a routerLink="/lista" routerLinkActive="active">Lista Spesa</a>
    </div>
    <div id="dx-top">
      <a routerLink="/condividi" routerLinkActive="active">condividi lista</a>
    </div>
    <div id="sx-bottom">
      <a>Terza funzionalità</a>
    </div>
    <div id="dx-bottom">
      <a>Quarta funzionalità</a>
    </div>
    <div id="right"></div>


        <!-- in caso funzionalità admin <li *ngIf="admin()" routerLink="/modifica" routerLinkActive="active">Modifica</li> -->
        <a><app-logout></app-logout></a>
</div>

