<app-menu></app-menu>

<div class="body">
    <div id="left"></div>
    <div id="top">
      <h1>Benvenuto {{utente}}!</h1>
    </div>
    <div id="sx-top">
      <a routerLink="/lista" routerLinkActive="active">VISUALIZZA LISTE</a>
    </div>
    <div id="dx-top">
      <a routerLink="/condividi" routerLinkActive="active">CONDIVIDI LISTA</a>
    </div>
    <div id="sx-bottom">
      <a>TERZA FUNZIONALITA'</a>
    </div>
    <div id="dx-bottom">
      <a>QUARTA FUNZIONALITA'</a>
    </div>
    <div id="right"></div>


        <!-- in caso funzionalità admin <li *ngIf="admin()" routerLink="/modifica" routerLinkActive="active">Modifica</li> -->
</div>

<app-footer></app-footer>
