<app-menu></app-menu>

<div id="wrapper">

      <div *ngFor="let listItem of lista">
        <div class="grid1">
          <div class="grid1-top" *ngIf="listItem.username==utente"> <!-- DIV CONTENENTE IL NOME DELLA LISTA-->

            <p class="list-name"> {{listItem.nome}} </p>
          </div>
          <div class="grid1-bottom" *ngIf="listItem.username==utente">
            <!--nome da condividere -->
            <input  placeholder="Amico con cui condividere" id="nome" type="text" #nome>
            <button class="buttons" (click)="condividi(listItem.nome,nome.value)"> CONDIVIDI </button>
          </div>

          </div>
        </div>
      </div>
<app-footer></app-footer>
