<app-menu></app-menu>

<div class="sfondo">
      <div id="left1"></div>
      <div id="left2"></div>
      <div id="left3"></div>

    <div id="center">
      <div id="top">
        <label>Username</label>
          <br/>
        <input #username id="username" type="text">
          <br/>
        <label>Password</label>
          <br/>
        <input #password id="password" type="password">
      </div>
      <div id="bottom">
          <button (click)="registra(username.value, password.value)">REGISTRATI</button>
      </div>
    </div>
    <div id="right3"></div>
    <div id="right2"></div>
    <div id="right1"></div>
</div>

<app-footer></app-footer>
