<app-menu></app-menu>

<div class="sfondo">
      <div id="left1"></div>
      <div id="left2"></div>
      <div id="left3"></div>

    <div id="center">
      <div id="top">
        <label>Username</label>
          <br/>
        <input #username id="username" type="text">
          <br/>
        <label>Password</label>
          <br/>
        <input #password id="password" type="password">
      </div>
      <div id="bottom">
          <button (click)="registra(username.value, password.value)">REGISTRATI</button>
      </div>
    </div>
    <div id="right3"></div>
    <div id="right2"></div>
    <div id="right1"></div>
</div>

<footer>
  <img id="btnBackToTop" class="backToTop" src="assets/img/backtotop.png">
  <div class="grid-4x1">
      <div class="box">
          <img src="assets/img/logo_footer.png">
      </div>
      <div class="box">
          <ul class="footer-ul">
              <li><a class="footer-text" href="#">scarica app</a></li>
              <!--da fare il capitalizw-->
              <li><a class="footer-text" href="#">funzionalità</a></li>
              <li><a class="footer-text" href="#">contatti</a></li>
              <li><a class="footer-text" href="#">privacy</a></li>
          </ul>
      </div>
      <div class="box">
          <ul class="footer-ul">
              <li><a class="footer-text" href="#">registrati</a></li>
              <li><a class="footer-text" href="#">accedi</a></li>
          </ul>
      </div>
      <div class="box">
          <ul class="footer-ul">
              <li class="footer-social-text">seguici su</li>
              <li class="flex"><img class="margin-right" src="assets/img/twitter.png"><img src="assets/img/facebbok.png"></li>
          </ul>
      </div>

  </div>
  <p class="footer-endText">©2020 FaiSpesa.it FaiSpesa® il nuovo modo di fare spesa™</p>
</footer>
