<div>
    <form (ngSubmit)="onSubmit(newSpesa.value)" [formGroup]="newSpesa">
        <div >
            <label for="nome">Inserisci il nome della lista</label>
            <input type="text"  id="nome"  required formControlName="nome">
        </div>

        <ng-container formArrayName="prodotti">
            <div *ngFor="let prodotto of prodotti.controls;index as i">
                <ng-container [formGroupName]="i">
                    ID:<input value="prova" formControlName="id" />
                    NOME:<input formControlName="nome" />
                  </ng-container>
            </div>
            
        </ng-container>
        
       <button type="submit">Submit</button>
    </form>
{{newSpesa.value |json}}
<button (click)="aggiungiP()">aggiungi P</button>
</div>



