<app-menu></app-menu>
<div class="container">
    <h1 class="title">il nuovo modo <br> di fare spesa!</h1>
    <p class="subtitle">Lorem ipsum dolor sit amet consectetur <br>adipisicing elit. Dolor sapiente atque, <br>dicta
        nobis, quos deserunt minus iure nostrum.</p>
    <div class="banner">
        <p class="banner-text">Scarica l'applicazione per il tuo smartphone</p>
        <div class="banner-img">
            <img class="margin-img" src="assets/img/playstore.png">
            <img src="assets/img/appstore.png">
        </div>
        <p class="banner-text">Oppure <b>Accedi</b> o <a href="#modal-full-sign-up" uk-toggle>Registrati</a> alla versione web!</p>
    </div>
</div>
<div class="container2">
    <img class="arrows" src="assets/img/arrow_white.png">
    <h1 class="title black center">scopri le Funzionalità fai la spesa senza pensieri!</h1>
    <p class="subtitle black center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, excepturi.
        Sunt nobis dolorem nam voluptatibus! Facere dicta fugiat deserunt quisquam id</p>
    <div class="grid">
        <div class="box">
            <h5 class="box-title">Crea e salva le tue liste</h5>
            <img src="assets/img/home_liste.png">
            <p class="box-subtitle">compri sempre gli stessi articoli oppure <br> aggiungi sempre nuovi prodotti?
            </p>
            <hr class="box-hr">
        </div>
        <div class="box">
            <h5 class="box-title">Aggiungi gli ingredienti delle tue ricette</h5>
            <img src="assets/img/home_ricette.png">
            <p class="box-subtitle">cosa prepari per cena? <br> torta al cioccolato o piatto light?
            </p>
            <hr class="box-hr">
        </div>
        <div class="box">
            <h5 class="box-title">Invia liste ai tuoi amici</h5>
            <img src="assets/img/home_share.png">
            <p class="box-subtitle">invia liste della spesa a chi vuoi <br> e ricevi liste dai tuoi contatti!
            </p>
        </div>
        <div class="box">
            <h5 class="box-title">Aggiungi e spunta gli articoli</h5>
            <img src="assets/img/home_cart.png">
            <p class="box-subtitle">controlla tutto prima di <br> andare in cassa!
            </p>
        </div>
    </div>
</div>
<div class="container3">
    <img class="arrows" src="assets/img/arrow_blue.png">
    <h1 class="title center">scopri le Funzionalità fai la spesa senza pensieri!</h1>
    <p class="subtitle center">il parere dei nostri utenti è molto importante per noi! <br> se desideri segnalarci
        problemi o consigliarci qualcosa non esitarci a scriverci!</p>
    <div class="input">
        <input class="inputs" type="email" placeholder="Indirizzo email">
        <br><br>
        <textarea class="inputs" name="commento" id="tarea" cols="30" rows="10"
            placeholder="Scrivici il tuo messaggio!"></textarea>
        <br>
        <input class="inputs button" type="button" value="INVIA MESSAGGIO">
    </div>
</div>

<app-footer></app-footer>


