<head>
  <!--progetto di marco bertelli -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spesa</title>

    <!-- UIkit CSS uso alcuni css predefiniti per evitare di farli tutti da 0, sono css base ben noti-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/css/uikit.min.css" />
    
    <!-- UIkit JS, per tenere fissata parte mobile -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/js/uikit-icons.min.js"></script>

</head>
<body>
  <!--modal registrazione-->
  <div id="modal-full-sign-up" class="uk-modal-full" uk-modal>
      <div class="uk-modal-dialog">
          <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
          <div class="uk-grid-collapse uk-child-width-1-2@s uk-flex-middle" uk-grid>
              <div class="uk-background-cover" style="background-image: url('assets/img/BG_login.jpg');"
                  uk-height-viewport>
              </div>
              <div class="uk-padding-large">
                  <h1 class="center">FaiSpesa</h1>
                  <h3 class="center">Crea un Account</h3>
                  <div class="uk-margin">
                      <label class="uk-form-label simpleText black" for="form-stacked-text">Nome e Cognome</label>
                      <div class="uk-form-controls">
                          <input class="uk-input" id="nome_cognome_newUser" type="text"
                              placeholder="inserisci nome e cognome">
                      </div>
                  </div>
                  <div class="uk-margin">
                      <label class="uk-form-label simpleText black" for="form-stacked-text">Email</label>
                      <div class="uk-form-controls">
                          <input class="uk-input" id="emailNewUser" type="email" placeholder="Inserisci email">
                      </div>
                  </div>
                  <div class="uk-margin">
                      <label class="uk-form-label simpleText black" for="form-stacked-text">Password</label>
                      <div class="uk-form-controls">
                          <input class="uk-input" id="passNewUser" type="password"
                              placeholder="Inserisci password">
                      </div>
                  </div>
                  <button id="createNewAccount" class="uk-button uk-button-primary button-modal">Crea Account</button>
                  <p class="simpleText center black"> hai già un account?</p>
                  <a class="modal-linkText center" href="#">
                      <p class="center">Accedi ora</p>
                  </a>
              </div>
          </div>
      </div>
  </div>
   <!--modal login-->
  <div id="modal-full-sign-in" class="uk-modal-full" uk-modal>
      <div class="uk-modal-dialog">
          <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
          <div class="uk-grid-collapse uk-child-width-1-2@s uk-flex-middle" uk-grid>
              <div class="uk-background-cover" style="background-image: url('assets/img/BG_login.jpg');"
                  uk-height-viewport>
              </div>
              <div class="uk-padding-large">
                  <h1 class="center">FaiSpesa</h1>
                  <h3 class="center">Accedi</h3>
                  <div class="uk-margin">
                      <label class="uk-form-label simpleText black" for="form-stacked-text">Email</label>
                      <div class="uk-form-controls">
                          <label for="emailLogin"></label>
                          <input class="uk-input" id="emailLogin" type="email" placeholder="Inserisci email">
                      </div>
                  </div>
                  <div class="uk-margin">
                      <label class="uk-form-label simpleText black" for="form-stacked-text">Password</label>
                      <div class="uk-form-controls">
                          <input class="uk-input" id="passwordLogin" type="password"
                              placeholder="Inserisci password">
                      </div>
                  </div>
                  <button id="login" class="uk-button uk-button-primary button-modal">Accedi</button>
                  <button id="logout" class="uk-button uk-button-primary button-modal hide">Logout</button>
                  <p class="simpleText center black"> oppure</p>
                  <a class="modal-linkText center" href="#">
                      <p class="center">Crea account</p>
                  </a>
              </div>
          </div>
      </div>
  </div>
  <app-menu></app-menu>
  <app-home></app-home>



<router-outlet></router-outlet>