<head>
  <!--progetto di marco bertelli -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spesa</title>

    <!-- UIkit CSS uso alcuni css predefiniti per evitare di farli tutti da 0, sono css base ben noti-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/css/uikit.min.css" />
    
    <!-- UIkit JS, per tenere fissata parte mobile -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/js/uikit-icons.min.js"></script>

</head>


<router-outlet></router-outlet>